@page "/"
<div class="jumbotron">
    <center>
        <h1>Hello world !</h1>
        <img src="/Images/Profile.JPG" asp-append-version="true" class="rounded-circle" />
        <h1>i'm Dimitri Vanhaecke</h1>
    </center>
</div>