@page "/"
<div>
    <center>
        <h1>Hello world !</h1>
        <img src="../Images/Profile.JPG" asp-append-version="true" class="rounded-circle" />
        <h2>i'm Dimitri Vanhaecke</h2>
        <hr>
        <h3>.Net software developer - Ghent, Belgium</h3>
    </center>
</div>