@page "/"
@using AspNetMonsters.Blazor.Geolocation
@inject LocationService  LocationService

<div class="row min-vh-100">
    <div class="col">
        <center>
            <h1 class="display-1">Hello world !</h1>
            <img src="Images/Profile.JPG" class="rounded-circle" />
            <h2>i'm Dimitri Vanhaecke</h2>
            <h3>.Net software developer - CEO of my Life</h3>
            <h4>Ghent, Belgium</h4>
            <SocialMedia />
        </center>
    </div>
</div>

<div class="card-columns">
    <div class="card text-white bg-dark mb-3">
        <div class="card-body">
            <h5 class="card-title">About</h5>
            <p class="card-text">
                I have @CurrentExp + years of experience as a software engineer,
                i love to build mobile apps, business applications and websites
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Current job
        </div>
        <div class="card-body">
            <h5 class="card-title">.Net developer</h5>
            <p class="card-text">
                Victor Buyck Steel Construction
            </p>
            <p class="card-text"><small class="text-muted">June 2018 - Present</small></p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            .Net development
        </div>
        <div class="card-body">
            <h5 class="card-title">Technical skills</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">C#</li>
            <li class="list-group-item">WPF</li>
            <li class="list-group-item">Xamarin.Forms</li>
            <li class="list-group-item">UWP</li>
            <li class="list-group-item">Blazor</li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header">
            Education
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Erasmus hogeschool 1 year specialisation - Business IT </li>
            <li class="list-group-item">IVO Brugge - Graduate Applied Computer Science - Programming</li>
            <li class="list-group-item">CVO Brugge - A2 Office management communication </li>
        </ul>
    </div>
    <div class="card p-3">
        <img class="card-img" src="Images/code.jpg" alt="Card image">
    </div>

    <div class="card p-3">
        <header>Personal Projects</header>
        <img class="card-img-bottom" src="Images/regappShop.png" alt="Registratie app">
        <div class="card-body">
            <h5 class="card-title">Corona customers check in app</h5>
            <p class="card-text">Free app for android to register customers in shop, restaurant, ...</p>
            <a href="https://install.appcenter.ms/users/jedi-dimitri/apps/hrctracing/distribution_groups/public"
               target="_blank" class="btn btn-primary">Download link</a>
        </div>
    </div>

    <div class="card">

        <div class="card-header">
            Mens sana in corpore sano
        </div>
        <div class="card-body">
            <iframe frameborder='0' height="320" allowtransparency='true' scrolling='no'
                    src='https://www.strava.com/athletes/23297796/latest-rides/e893a1a2bb68c08bf8d0ba28c2c061b3d60396c7'>
            </iframe>
        </div>
    </div>
</div>

@code
{
    public Message Message { get; set; }

    private double CurrentExp { get; set; }

    Location location;

    public Index()
    {
        Message = new Message();

        CurrentExp = Math.Floor((DateTime.Now - new DateTime(2018, 06, 19)).TotalDays / 365);

    }

}