@page "/"

<div class="row vh-100">
    <div class="col">
        <center>
            <h1 class="display-1">Hello world !</h1>
            <img src="Images/Profile.JPG" class="rounded-circle" />
            <h2>i'm Dimitri Vanhaecke</h2>
            <h3>.Net software developer - Ghent, Belgium</h3>
            <SocialMedia />
        </center>
    </div>
</div>

<div class="row vh-100" id="About">

    <div class="col h-50 w-50">
        <h2>About me</h2>
        <h5>
            I have @CurrentExp + years of experience as a software engineer,
            i love to build mobile apps, business applications and websites
        </h5>
    </div>
    <div class="col h-50 w-50">
        <h2>Technical skills</h2>
        <div class="row">
            <div class="col">
                <h4>C#</h4>
            </div>
            <div class="col">
                <h4>WPF</h4>
            </div>
            <div class="col">
                <h4>Xamarin Forms</h4>
            </div>
            <div class="col">
                <h4>Blazor</h4>
            </div>
        </div>
    </div>
</div>

<div class="row vh-100">
    <div class="col">
    </div>
    <div class="col">
        <h2>Contact</h2>
        <EditForm Model="@Message" OnSubmit=@FormSubmitted>

            <div class="form-group">
                <label for="txtName">Name</label>
                <InputText @bind-Value=Message.Name type="text" id="txtName" class="form-control" placeholder="Enter Name" />
            </div>
            <div class="form-group">
                <label for="txtEmail">Email address</label>
                <InputText @bind-Value=Message.Email type="email" id="txtEmail" class="form-control" placeholder="Enter email" />
            </div>
            <div class="form-group">
                <label for="txtTextArea">Message</label>
                <InputTextArea @bind-Value=Message.TextMessage id="txtTextArea" class="form-control" rows="10" placeholder="Message" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
    <div class="col">
    </div>
</div>

@code
{
    public Message Message { get; set; }

    private double CurrentExp { get; set; }
    public Index()
    {
        Message = new Message();

        CurrentExp = Math.Floor((DateTime.Now - new DateTime(2018, 06, 19)).TotalDays / 365);

    }

    public void FormSubmitted()
    {

    }

}