<a href="https://www.linkedin.com/in/dimitrivanhaecke/" title="Linked in">
    <i class="fab fa-linkedin fa-2x"></i>
</a>

<a href="https://www.facebook.com/dimitrivanhaecke" title="Facebook">
    <i class="fab fa-facebook-square fa-2x"></i>
</a>

<a href="https://github.com/DimitriVanhaecke" title="Github">
    <i class="fab fa-git-square fa-2x"></i>
</a>

@code {

}